<div class="mainContent" id="createUserTemplate">
    <h1>New User</h1>

    <form class="form-signin" ng-submit="create()">
        <input type="text" name="user" class="form-control form-input-style"
               placeholder="Username" autofocus required ng-model="formUser.user">
        <input type="password" name="password" class="form-control form-input-style form-margin-top"
               placeholder="Password" required ng-model="formUser.password">
        <input type="password" name="confirmpassword" class="form-control form-input-style form-margin-top"
               placeholder="Confirm Password" required ng-model="confirmpassword">
        <input type="text" name="mail" class="form-control form-input-style form-margin-top"
               placeholder="Mail Address" required ng-model="formUser.mail">
        <button type="submit" class="btn btn-lg btn-primary form-margin-top">Create</button>
    </form>
</div>