<div id="playlistContent">
    <div class="borderBottom">
        <h2 id="trackListTitle">Playlist</h2>
    </div>

    <div class="trackList">
        <div ng-repeat="track in roomPlaylist">
            <div class="track">
                <span class="label label-default">{{ $index + 1 }}</span>
                <span class="trackArtist">{{track.user.username}}</span>
                <span class="trackTitle">{{track.title}}</span>

                <button ng-if="($index + 1) == 1" ng-click="playTrack(track.id, 'play')">Play</button>
            </div>

        </div>
    </div>
</div>