<div class="mainContent">
    <div id="welcomeTemplate">
        <button class="btn" ng-click="leaveRoom()">Leave</button>
        <h1>{{ roomData.roomName }}</h1>


        <p> Created by {{ roomData.userAdmin }}</p>
    </div>

    <input type="text" class="search-query" placeholder="Search..." ng-model="searchName">
    <button ng-click="getTrackSearch(searchName)">Search</button>

    <div id="searchList">
        <div ng-repeat="result in trackSearchResults">
            Title : {{result.title}}
        </div>

    </div>
</div>


<div id="rightContent" ng-controller="playlistCtrl">
    <div ng-include src="playlistContentViewPath"></div>
</div>


<div id="bottomContent" class="fixed">
    <div id="player">
        <img id="playerBack" class="playerImage" src="../ressources/img/back.png">
        <img id="playerStop" class="playerImage" src="../ressources/img/stop.png">
        <a >
            <img id="playerPlay" class="playerImage" src="../ressources/img/play.png" ng-click="play()">
        </a>
        <img id="playerNext" class="playerImage" src="../ressources/img/next.png">
    </div>
</div>