<div class="mainContent">
    <div id="welcomeTemplate">
        <button class="btn" ng-click="leaveRoom()">Leave</button>
        <h1>{{ roomData.roomName }}</h1>


        <p> Created by {{ roomData.userAdmin }}</p>
    </div>

    <input type="text" class="search-query" placeholder="Search Track..." ng-model="searchTrackName">
    <input type="text" class="search-query" placeholder="Search Artist..." ng-model="searchUserName">
    <button ng-click="getTrackSearch(searchTrackName, searchUserName)">Search</button>



    <div class="searchList">
        <div ng-repeat="result in SearchResults">
            <button ng-click="trackByUser(result)">
                <div class="searchResultTrack">
                    <span ng-if="result.title!=undefined">Title : {{result.title}}</span>
                    <span ng-if="result.user.username!=undefined">User : {{result.user.username}}</span>
                    <span ng-if="result.username!=undefined">User : {{result.username}}</span>
                    <span>Id : {{result.id}}</span>
                    <span>URI : {{result.uri}}</span>
                </div>
            </button>
        </div>
    </div>
</div>

<div id="rightContent">
    <div ng-include src="playlistContentViewPath"></div>
</div>


<div id="bottomContent" class="fixed">
    <div id="player">
        <img id="playerBack" class="playerImage" src="../ressources/img/back.png">
        <img id="playerStop" class="playerImage" src="../ressources/img/stop.png">
        <a >
            <img id="playerPlay" class="playerImage" src="../ressources/img/play.png" ng-click="play()">
        </a>
        <img id="playerNext" class="playerImage" src="../ressources/img/next.png">
    </div>
</div>